/* HIDE MENU ITEMS WP */
.initially-hidden {
    display: none;
}
body.wp-admin .wrap {
	background-color: white;
	border-radius: 15px;
	padding: 20px;
	box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

body.wp-admin .wrap h1 {
	color: #035225;
	margin-bottom: 10px;
}
body.wp-admin #hide-menu-items-form label {
    font-size: 18px;
    margin-right: 20px;
}
body.wp-admin #hide-menu-items-form input[type="checkbox"] {
	margin-right: 5px;
	cursor: pointer;
}
body.wp-admin .hide-menu-select-item {
	display: block;
    margin-bottom: 4px;
}

body.wp-admin .button.button-primary {
	background-color: #035225;
	border-color: #035225;
	color: white;
	padding: 5px 10px;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 20px;
}

body.wp-admin .button.button-primary:hover {
	background: #6dc92c;
	border-color: #6dc92c;
	color: white;
}